# Fan control
type sysfs_fan, fs_type, sysfs_type;

# Power caps
type sysfs_powercap, fs_type, sysfs_type;

# Trigger buttons
type proc_touchkey, fs_type, proc_type;
